table {
  background-image: url(https://cdn.hipwallpaper.com/i/92/52/vZp6xG.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
