.zoom {
  transition: transform .2s;
  margin: 0 auto;
}
.zoom:hover {
  transform: scale(1.05);
}
.shd {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.head {
  background: #c8c4c2;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

